<h2>  Describe Your Drone Here </h2>

<form action="/action_page" method="post" id="form1">
    Drone Name: <input type="text" name="name"><br>
    Drone Propeller Count: <input type="text" name="propeller"><br>
    Drone Max Speed: <input type="text" name="maxSpeed"><br>
<button type="submit" form="form1" value="Submit">Submit</button>
</form>
